<section class="pridatlektora"   >
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-0 col-md-offset-1 col-sm-offset-0">
            <blockquote>
                <h2>Pridat Lektora</h2><br>
                <div class="container">



                    <blockquote>
                        <div class="input-group">
                            <label for="name">Name</label>
                            <input id="name" type="text" class="form-control" placeholder="Name" >
                        </div>

                        <div class="input-group">
                            <label for="Workshop">Workshop</label><br>
                            <select id="Workshop">
                                <option>Workshop1</option>
                                <option>Workshop2</option>
                                <option>Workshop3</option>
                                <option>Workshop4</option>
                                <option>Workshop5</option>
                                <option>Workshop6</option>
                                <option>Workshop7</option>
                                <option>Workshop8</option>
                                <option>Workshop9</option>
                                <option>Workshop10</option>
                            </select>

                        </div>
                        <div class="input-group">

                            <label for="Email">Email</label><br>
                            <input id="Email" type="text" aria-hidden="true" class="form-control" placeholder="Email" >
                        </div>
                        <div class="input-group">
                            <label for="CV description">CV description</label><br>
                            <textarea id="CV description"  class="form-control" placeholder="CV description" ></textarea>
                        </div>

                        <div class="input-group">
                            <label for="Location">Location</label><br>
                            <input id="Location" ype="text" class="form-control" placeholder="Location" aria-describedby="basic-addon2">
                        </div><br>
                        <button class="btn btn-lg  btn-primary " type="submit">Submit</button>
                    </blockquote>
                </div>
            </blockquote>
        </div>
    </div>
</section>
