<section class="profil">
    <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-0 col-md-offset-1 col-sm-offset-0">
        <blockquote>
            <h2 class="text-center">Profil</h2>


            <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 col-lg-offset-0 col-md-offset-1 col-sm-offset-0">

                <img class="img" width="150px" height="150px"
                     src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=50"
                     alt="User Pic">
            </div>
            <div class="col-xs-5 col-sm-10">

                <dl>
                    <dd>Name Surname</dd>
                    <dd>Email</dd>
                    <dd>Age</dd>
                    <dd>-</dd>
                    <dd>-</dd>
                    <dd>-</dd>
                </dl>
            </div>
            <div class="container">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Kurz</th>
                        <th>Start</th>
                        <th>Student</th>
                        <th>Actioins</th>
                    </tr>
                    </thead>
                    <tbody class="info">
                    <tr>
                        <td>Angular</td>
                        <td>10.10.2017</td>
                        <td>marcelvaclav</td>
                        <td><a href="#">Detail</a></td>
                    </tr>
                    <tr>
                        <td>React</td>
                        <td>10.10.2017</td>
                        <td>jakubsnopko</td>
                        <td><a href="#">Detail</a></td>
                    </tr>
                    <tr>
                        <td>Java</td>
                        <td>10.10.2017</td>
                        <td>janzakutny</td>
                        <td><a href="#">Detail</a></td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </blockquote>
    </div>
</section>
