<!-- /.content-wrapper -->
<div class="content-wrapper">

    <!-- <loginscreen-component></loginscreen-component>
    <detailkurzustudenta-component></detailkurzustudenta-component>
    <detailkurzlektor-component></detailkurzlektor-component>
    <pridatstudenta-component></pridatstudenta-component>
    <pridatkurz-component></pridatkurz-component>
    <pridatlektora-component></pridatlektora-component> -->

    <section class="detailkurzlektor">


        <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-0 col-md-offset-1 col-sm-offset-0">
            <blockquote>
                <h2 class="text-center">Detail kurzu - Lektor<</h2>



                <div class="col-xs-5 col-sm-10">

                    <dl>
                        <dd>{{detailkurzlektor.name}}</dd>
                        <dd>{{detailkurzlektor.description}}</dd>
                        <dd>{{detailkurzlektor.language}}</dd>
                        <dd>{{detailkurzlektor.startDate | date}}</dd>
                        <dd>{{detailkurzlektor.lessons}}</dd>
                        <dd>
                            <button (click)="changeLanguage()">Change to React</button>
                        </dd>
                    </dl>
                </div>
                <div class="container">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Student</th>
                            <th>Email</th>
                            <th>HomeWorks</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody class="info">
                        <tr>
                            <td>Std. A</td>
                            <td>a@email</td>
                            <td>2</td>
                            <td><a href="#">Detail</a></td>
                        </tr>
                        <tr>
                            <td>Std. B</td>
                            <td>b@email</td>
                            <td>3</td>
                            <td><a href="#">Detail</a></td>
                        </tr>
                        <tr>
                            <td>Std. C</td>
                            <td>c@email</td>
                            <td>5</td>
                            <td><a href="#">Detail</a></td>
                        </tr>
                        <tr>
                            <td>Std. D</td>
                            <td>d@email</td>
                            <td>4</td>
                            <td><a href="#">Detail</a></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <button class ="btn-primary" type="submit">Add</button>
            </blockquote>
        </div>
    </section>
</div>

