<section class="loginscreen">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-0 col-md-offset-1 col-sm-offset-0">
            <blockquote>
                <h2>Login</h2><br>
                <div class="container">
                    <form id="login-form" class="text-left">
                        <div class="login-form-main-message"></div>
                        <div class="main-login-form">
                            <div class="login-group">
                                <div class="form-group input-group">
                                    <label for="loginuser" class="sr-only">Username</label>
                                    <input type="text" class="form-control" id="loginuser" name="loginuser" placeholder="username">
                                </div>
                                <div class="form-group input-group">
                                    <label for="loginpassword" class="sr-only">Password</label>
                                    <input type="password" class="form-control" id="loginpassword" name="loginpassword" placeholder="password">
                                </div>
                                <div class="form-group login-group-checkbox">
                                    <input type="checkbox" id="logimremember" name="loginremember">
                                    <label for="logimremember">remember</label>
                                </div>
                            </div>
                            <button type="submit" class="btn-facebook">Login</button>
                        </div>
                        <div class="etc-login-form">
                            <p>zabudol si heslo? <a href="#">odoslat heslo</a></p>

                        </div>
                    </form>
                </div>
            </blockquote>
        </div>
    </div>
</section>
