<section class="pridatkurz">
    <div class="col-lg-12 col-sm-12 col-md-12 col-lg-offset-0 col-sm-offset-0 col-md-offset-1">
        <blockquote>
            <h2>Pridanie kurzu</h2><br>
            <div class="container">



                <blockquote>
                    <div class="input-group">
                        <label for="kurzname">Name</label>
                        <input id="kurzname" type="text" class="form-control" placeholder="Name" >
                    </div>

                    <div class="input-group">
                        <label for="description">Description</label>
                        <input id="description" name="description" type="text" class="form-control" placeholder="Description" aria-describedby="basic-addon2">
                    </div>
                    <div class="input-group">
                        <label for="Startdata">Start data</label>
                        <input id="Startdata" name="Startdata" type="text" aria-hidden="true" class="form-control" placeholder="Start date" aria-describedby="basic-addon2">
                    </div>
                    <div class="input-group">
                        <label for="no.oflesson">NO. of lesson</label>
                        <input id="no.oflesson" type="text" class="form-control" placeholder="No. of lesson" aria-describedby="basic-addon2">
                    </div><br>
                    <button class="btn btn-lg  btn-primary " type="submit">Add</button>
                </blockquote>
            </div>
        </blockquote>
    </div>
</section>
