<section class="detailkurzstudent">
        <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-0 col-md-offset-1 col-sm-offset-0">
        <blockquote>
            <h2 class="text-center">Detail Kurzu Študenta</h2>





            <div class="container">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Issue</th>
                        <th>Due date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="info">
                    <tr>
                        <td>Issue A</td>
                        <td>Tomorrow</td>
                        <td>Done</td>
                        <td><a href="#">Detail</a></td>
                    </tr>
                    <tr>
                        <td>Issue B</td>
                        <td>Tomorrow</td>
                        <td>Pending</td>
                        <td><a href="#">Detail</a></td>
                    </tr>
                    <tr>
                        <td>Issue C</td>
                        <td>Tomorrow</td>
                        <td>To Test</td>
                        <td><a href="#">Detail</a></td>
                    </tr>
                    <tr>
                        <td>Issue D</td>
                        <td>Tomorrow</td>
                        <td>In Review</td>
                        <td><a href="#">Detail</a></td>
                    </tr>

                    </tbody>



                </table><br>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>Lesson 1</td>
                        <td>url://video1</td>
                        <td>url://slide1</td>
                    </tr>
                    <tr>
                        <td>Lesson 2</td>
                        <td>url://video2</td>
                        <td>url://slide2</td>
                    </tr>
                    <tr>
                        <td>Lesson 3</td>
                        <td>url://video3</td>
                        <td>url://slide3</td>
                    </tr>
                    <tr>
                        <td>Lesson 4</td>
                        <td>url://video4</td>
                        <td>url://slide4</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="btn-submit">
                <button class ="btn-primary" type="submit">Add</button>
            </div>
        </blockquote>
    </div>
</section>
