<li class="dropdown tasks-menu">
    <div class="btn-group" dropdown>
        <div dropdownToggle  class=" dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-flag-o"></i> <span class="caret"></span>
        </div>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
            </li>
        </ul>
    </div>
</li>